<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>vn.fpt.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>vn.fpt.controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>vn.fpt.controller.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorController</servlet-name>
        <servlet-class>vn.fpt.edu.controller.DoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassWors</servlet-name>
        <servlet-class>vn.fpt.controller.ChangePassWors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>vn.fpt.controller.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasssWordController</servlet-name>
        <servlet-class>vn.fpt.controller.ForgotPasssWordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>vn.fpt.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>vn.fpt.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>vn.fpt.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>vn.fpt.controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>vn.fpt.controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveJmg</servlet-name>
        <servlet-class>vn.fpt.controller.RemoveJmg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeImg</servlet-name>
        <servlet-class>vn.fpt.controller.ChangeImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginGoogleController</servlet-name>
        <servlet-class>vn.fpt.controller.UserLoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAcc</servlet-name>
        <servlet-class>vn.fpt.controller.ManageAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccAdminController</servlet-name>
        <servlet-class>vn.fpt.controller.DeleteAccAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccount</servlet-name>
        <servlet-class>vn.fpt.controller.LoadAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <servlet-class>vn.fpt.controller.EditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>vn.fpt.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicine</servlet-name>
        <servlet-class>vn.fpt.controller.AddMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>vn.fpt.controller.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Medical</servlet-name>
        <servlet-class>vn.fpt.controller.Medical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInfor</servlet-name>
        <servlet-class>vn.fpt.controller.AddInfor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/BlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorController</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassWors</servlet-name>
        <url-pattern>/changepasswors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasssWordController</servlet-name>
        <url-pattern>/fogot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveJmg</servlet-name>
        <url-pattern>/removeimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeImg</servlet-name>
        <url-pattern>/changeimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginGoogleController</servlet-name>
        <url-pattern>/loginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAcc</servlet-name>
        <url-pattern>/manageacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccAdminController</servlet-name>
        <url-pattern>/deleteacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccount</servlet-name>
        <url-pattern>/loadacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/editaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicine</servlet-name>
        <url-pattern>/AddMedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Medical</servlet-name>
        <url-pattern>/Medical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInfor</servlet-name>
        <url-pattern>/AddInfor</url-pattern>
    </servlet-mapping>
</web-app>
